.Wrapper {
  display: flex;
  width: 100%;
  height: 100vh;
  padding: 0vw;
  background-color: #000000;
  align-items: center;
  justify-content: center;
  position: relative;
}

.leftContainer {
  width: 50%;
  height: 100%;
  border-right: 1px solid rgb(206, 109, 6);
  display: flex;
  flex-direction: column;
}
.rightContainer {
  width: 50%;
  height: 100%;
  display: flex;
  border-left: 1px solid rgb(206, 109, 6);
}
.round {
  position: absolute;
  display: flex;
  z-index: 700;
  width: 200px;
  height: 200px;
  background-color: rgb(0, 0, 0);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  top: 55%;
}
.round > div {
  width: 80px;
  height: 80px;
  background-color: rgb(206, 109, 6);
  border-radius: 50%;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.leftContainer .leftTop {
  width: 100%;
  height: 65%;
}

.leftContainer .leftBottom {
  width: 100%;
  height: 35%;
}

.rightContainer .rightleft {
  width: 20%;
  min-width: 200px;
  height: 100%;
  border-right: 2px solid rgb(206, 109, 6);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.rightContainer .rightleft .imgs{
  border-bottom: 2px solid rgb(206, 109, 6);
}
.rightContainer .rightleft > div {
  height: 35%;
  background-color: antiquewhite;
}

.rightContainer .rightright {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.rightContainer .rightright .set1 {
  width: 100%;
  height: 35%;
  border-bottom: 2px solid rgb(206, 109, 6);
}
.rightContainer .rightright .set2 {
  width: 100%;
  height: 30%;
  border-bottom: 2px solid rgb(206, 109, 6);
}
.rightContainer .rightright .set3 {
  width: 100%;
  height: 35%;
}
